---
import Layout from '../layouts/Layout.astro';

import Card from '../components/Card.astro';
import SlideButton from '../components/SlideButton.astro';
import Rainbow from '../components/RainbowButton.astro';
import Gloss from '../components/Glassmorph.astro';
import Wizzard from '../components/WizzardButton.astro';
import Wizzard2 from '../components/WizzardButton2.astro';
import Wizzard3 from '../components/WizzardButton3.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Wening Dirk">
   


<section id="hero">
   <Hero />
</section>
<section></section>
<section></section>
<section></section>
<section> <Gloss></Gloss></section>
</Layout>
