<div class="hero">
    <div class="hero-image">
        <img src="/Profil.jpeg" alt="my-image">
    </div>
    <div class="hero-text">
        <h1>Hallo, ich bin Dirk!</h1>
   <div style="text-align: left;">
    <h2>Über mich</h2>
    <p>
       Ich bin ein fokussierter und ehrgeiziger Profi mit einer Leidenschaft für meine Arbeit. 
       Pünktlichkeit ist für mich selbstverständlich, und ich bin stets bereit, anderen zu helfen.
       Als Familienmensch schätze ich die Bedeutung von Zusammenhalt und verbringe gerne Zeit mit meinen Lieben.
    </p>
    <h2>Berufliche Erfahrung</h2>
    <p>In den letzten Jahren habe ich meine Fähigkeiten in verschiedenen Positionen unter Beweis gestellt. Meine Fokussiertheit hat es mir ermöglicht, komplexe Projekte erfolgreich abzuschließen. Ich bin stolz darauf, stets termingerecht zu liefern und dabei qualitativ hochwertige Ergebnisse zu erzielen.</p>
    <h2>Zusätzliche Stärken</h2>
    <p>Neben meiner beruflichen Expertise bin ich auch hilfsbereit und teamorientiert. Ich unterstütze gerne Kollegen und trage dazu bei, ein positives Arbeitsumfeld zu schaffen.</p>
    <h2>Familie und Freizeit</h2>
    <p>Wenn ich nicht arbeite, genieße ich es, Zeit mit meiner Familie zu verbringen. Ob beim gemeinsamen Kochen, Spielen oder Ausflügen – der Zusammenhalt in meiner Familie ist mir besonders wichtig.</p>
    </div>
<style>
    .hero {
        flex
    }
.hero .hero-image {
    max-hight: 800px;
}
    .hero-image img 
    {
        max-hight: 100%;
    }
}

</style>


</div>